*{
    background-color: black;
}

div.box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#box{
    width: 120px;
    height: 120px;
    background-color: blue;
    animation: box 0.6s infinite linear alternate;
    z-index: 2;
    
    
    
}

@keyframes box{
    0%{
transform: translateY(0px);
    }
    50%{
transform: translateY(-10px);
    }
    100%{
transform: translateY(0px);
    }
}

#circle{
    width: 90px;
    height: 90px;
    background-color: gold;
    z-index: 1;
    position: relative;
    border-radius: 50%;
    right: 105px;
    animation: coine 0.9s linear infinite forwards
    
}

@keyframes coine{
    0%{
        transform: translateY(0px)
        rotateY(0deg);
        opacity: 1;

    }
    50%{
        transform: translateY(-170px)
        rotateY(180deg);
        opacity: 0;
    }
    
    100%{
        transform: translateY(-170px)
        rotateY(360deg);
        opacity: 0;
    }
}